<% include partials/header %>

<h1>INDEX PAGE!!</h1>

<% bulletins.forEach(function(bulletin){ %>
    <div>
        <h2><%=bulletin.title%></h2>
        <img src="<%= bulletin.image %>">
        <br>
        <%=bulletin.description%>
        <br>
        <span><%= bulletin.created %></span>
        <br>
        <button class="ui blue big basic button"><a href="/bulletin/<%=bulletin._id%>">Read more:</a></button>
    </div>
<% }) %>



<% include partials/footer %>